<div class="container">
    <div class="card">
        <p-tabView class="card boxCard">
            <p-tabPanel header="Logar">
                    <p-fieldset legend="Form" class="card">
                        <div class="box">
                            <span class="font-bold block mb-2">Email</span>
                            <input type="text" pInputText />                            
                        </div>
                        <div class="box">
                            <span class="font-bold block mb-2">CPF</span>
                            <input type="password" pInputText />                            
                        </div>
                        <div class="btns">
                            <button mat-stroked-button color="primary" style="color: var(--background);" class="submit">Logar</button>
                            <button mat-stroked-button color="warn" class="cancel" style="color: var(--background);">Cancel</button>
                        </div>
                    </p-fieldset>
            </p-tabPanel>
            <p-tabPanel header="Cadastrar">
                    <p-fieldset legend="Form" class="card">
                        <div class="box">
                            <span class="font-bold block mb-2">Email</span>
                            <input type="text" pInputText />                            
                        </div>
                        <div class="box">
                            <span class="font-bold block mb-2">CPF</span>
                            <input type="password" pInputText />                            
                        </div>
                        <div class="btns">
                            <button mat-stroked-button color="primary" style="color: var(--background);" class="submit">Cadastrar</button>
                            <button mat-stroked-button color="warn" class="cancel" style="color: var(--background);">Cancel</button>
                        </div>
                    </p-fieldset>
            </p-tabPanel>      
        </p-tabView>
    </div>
</div>